body {
    background-color:#222;
    color: #fff;
    font-family:Arial, sans-serif;
}

p {
    margin-left:auto;
    margin-right:auto;
}    /* keep paragraphs narrow and centered */

h1 {
    font-size: large;
}    /* keep paragraphs narrow and centered */

input[type=button] {
    font-family:Arial, sans-serif;
    font-size: x-large;
}                    /* makes buttons bigger */

textarea {
    width:100%;
    height:400px;
    font-family:monospace;
    background-color:#333;
    color: #0f0;
}

//input[type=range] {width:210px;}

input[type=text] {
    background-color:#333;
    color: #fff;
    //border:0px
}
